{% extends 'base.html.twig' %}

{% block title %}Symfsino{% endblock %}

{% block body %}
    <main class="container">
        <h1>Bienvenue</h1>
        <p>Ceci est la page d’accueil. (Contenu à venir.)</p>

        <div>
            <a href="{{ path('app_front_login') }}">Se connecter</a>
            <a >Créer un compte</a>
        </div>
    </main>
{% endblock %}
