{% extends 'admin/base_admin.html.twig' %}

{% block title %}Backoffice · Dashboard{% endblock %}

{% block admin_content %}

    <p>Bienvenue sur le dashboard administrateur {{ app.user.pseudo }}</p>

{% endblock %}
