{% extends 'auth/base_auth.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

<form class="login">
    <input type="text">
    <input type="password">
    <button type="submit">Connexion</button>
</form>

{% endblock %}
